.node {
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;

  &.end-node {
    background-color: red;
  }

  &.start-node {
    background-color: green;
  }

  &.wall {
    background-color: #333;
  }

  &.visited-node {
    animation-name: visitedAnimation;
    animation-duration: 1.5s;
    animation-timing-function: ease-out;
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }

  @keyframes visitedAnimation {
    0% {
      transform: scale(0.4);
      background-color: rgba(0, 0, 66, 0.75);
      border: 0px;
    }
    50% {
      background-color: rgba(17, 104, 217, 0.75);
      border: 0px;
    }
    75% {
      transform: scale(1.1);
      background-color: rgba(0, 217, 159, 0.75);
    }
    100% {
      transform: scale(1);
      background-color: rgba(0, 190, 218, 0.75);
    }
    //0% {
    //    transform: scale(0.3);
    //    background-color: rgba(0, 0, 66, 0.75);
    //    border-radius: 100%;
    //}
    //
    //50% {
    //    background-color: rgba(17, 104, 217, 0.75);
    //}
    //
    //75% {
    //    transform: scale(1.2);
    //    background-color: rgba(0, 217, 159, 0.75);
    //}
    //
    //100% {
    //    transform: scale(1);
    //    background-color: rgba(0, 190, 218, 0.75);
  }

  &.path {
    background-color: yellow;
    transition: color 2s;
    animation: pathAnimation 1.5s ease-out forwards;
  }
  @keyframes pathAnimation {
    0% {
      transform: scale(0.5);
      opacity: 0.7;
      border-radius: 30%;
    }
    50% {
      transform: scale(1.1);
      border-radius: 10%;
    }
    100% {
      transform: scale(1);
      background-color: yellow;
    }
  }
}
